* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Geometria";
    src: url("/src/assets/fonts/Geometria.woff") format("woff"),
    url("/src/assets/fonts/Geometria.woff2") format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: "Geometria";
    font-weight: 500;
    src: url("/src/assets/fonts/Geometria-Medium.woff") format("woff"),
    url("/src/assets/fonts/Geometria-Medium.woff2") format("woff2");
}

@font-face {
    font-family: "Geometria";
    font-weight: 700;
    src: url("/src/assets/fonts/Geometria-Bold.woff") format("woff2"),
    url("/src/assets/fonts/Geometria-Bold.woff2") format("woff2");
}

$blueColor: #13377D;
$blackColor: #231F20;
$whiteColor: #ffffff;
$grayColor: #8B8B8B;
$lightBlue: #F4F7FD;

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

button:hover {
    cursor: pointer;
}

body {
    font-family: "Geometria", sans-serif;
    background-color: $whiteColor;
}

main {
    color: $blackColor;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

